<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="http://boyeoffice.test/dist/css/bootstrap-v4.css">
  <link rel="stylesheet" href="http://boyeoffice.test/css/fontawesome-v4.css">
  <style>
    body {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		#root {
			position: relative;
      background-position: top center;
      background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			height: 100vh;
		}
		.wrapper {
			color: #fff;
			background-color: rgba(216, 207, 207, 0.5);
			padding: 15px;
		}
		.wrapper h2 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 3rem
		}
		.wrapper p {
			font-weight: 600;
		}
		@media(min-width: 768px) {
			.wrapper {
   				width: 400px;
			}
		}
  </style>
</head>
<body class="OLAKUNLE BOYE">
  <div id="app">
  <div id="root" style="background-image: url(http://boyeoffice.test/img/503.jpg);">
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-12">
					    <div class="wrapper mx-auto text-center">
						<h2>coming soon</h2>
						<p>We are undergoing maintenance</p>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
					    </div>
				</div>
			</div>
		</div>
</div>
  </div>
</body>
</html>
