<section class="page-details">
    <div class="page-top">
        <div class="page-top-bg" style="background-image: url(http://boyeoffice.test/img/bg1.jpg)"></div>
    </div>
</section>

{{#section 'styles'}}

<style>
    .page-details {
        width: 100%;
        height: 100%;
        position: relative
    }
    .page-top{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .page-top-bg {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 200px;
        width: 100%;
    }
</style>

{{/section}}