<div class="about-page">
  <section id="home-top">
    <div class="page-header" filter-color="orange">
      <div class="page-header-image clear-filter"
          style="background-image: url({{about.site_about_image}})"></div>
          <div class="container">
            <div class="wrapper-intro">
              <div class="inner">
              
            </div>
            </div>
          </div>
    </div>
  </section>
</div>